[Unit]
Description=GPS Emulation Link Layer Exchange Daemon
Before=gpsd.service

[Service]
ExecStartPre=sleep 1
ExecStart=/bin/gelled -d /dev/tnt0
#ExecStartPost=/bin/gelled-ctrl -y 35 -x 30 -d 0 -k 0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

